[user]
	email = sandro@gierens.de
	name = Sandro-Alessio Gierens
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[maintenance]
	repo = /home/sandro/projects/eza
[commit]
	gpgsign = true
	signingkey = FB36571A786556B9A9505F228BDDD371F9684CEA
[gpg]
	program = /home/sandro/.local/bin/git-gpg
[format]
	signoff = true
