[user]
	email = sandro@gierens.de
	name = Sandro-Alessio Gierens
[sendemail]
    smtpserver = smtp.ionos.de
    smtpserverport = 465
    smtpencryption = ssl
    smtpuser = sandro@gierens.de
    from = Sandro-Alessio Gierens <sandro@gierens.de>
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[maintenance]
	repo = /home/sandro/projects/eza
[commit]
	gpgsign = true
	signingkey = 8BDDD371F9684CEA
[gpg]
	program = /home/sandro/.local/bin/git-gpg
[format]
	signoff = true
